*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/***** Main Section *****/ 

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    color: #ffff;


    &  .section1{
        height: 100vh;
        width: 50%;
        display: inline-block;
        background: rgb(112, 66, 22);
        padding: 7rem;


        & h1{
            font-size: 5.4rem;
            width: max-content;


            & span{
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
        }

        & h2{
            font-size: 4rem;
        }

        & p{
            padding: 6rem 0 0 0;
            font-size: 1.6rem;
            line-height: 1.5;
        }
       
    }
    &  .section2{
        z-index: -1;
        height: 100vh;
        width: 50%;
        display: inline-block;
        /* background: #916060; */
        background-image: url(/images/excited\ girl.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
  
    
   

}


/* ? Main Media view Start */

@media (width <= 998px) {
    .main{
        height: 70vh;
        width: 100%;
        display: grid;
        justify-content: space-between;
        place-items: center;
        color: #ffff;
    
    
        &  .section1{
            height: 100vh;
            width: 100%;
            
           
        }
        &  .section2{
            width: 100%;
        }   
    
    }
}

/* ? Main Media view Start */



/***** End Main Section *****/
